html {
  background-color: #08538B;
}
body { 
  padding-top: 70px;
}
.container-fluid {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #08538B;
}
.news {
  margin-top: 20px;
  min-height: 200px;
  background-color: #ffe6e6;
  padding: 20px;
}
.news p {
  font-size: 20px;
  color: #aaa;
  font-family: Georgia, Serif;
}
.main-component {
  min-height: 200px;
  background-color: #cccccc;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:    3px 3px 3px 0px rgba(0,0,0,0.5);
  box-shadow:         3px 3px 3px 0px rgba(0,0,0,0.5);
}
.main-component img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 90%;
    width: 70%;
}
.main-component:hover {
  transition: 0.5s;
  /*background-color: #666666;*/
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:    8px 8px 8px 0px rgba(0,0,0,0.5);
  box-shadow:         8px 8px 8px 0px rgba(0,0,0,0.5);
}
#main_component_guide {
    margin-top: 3em;
    margin-bottom: 0em;
}


/******************* Flashy NEWS Robbin **********************/
.news:hover #test {
  animation:myfirst .8s linear infinite;
  -moz-animation:myfirst .8s linear infinite; /* Firefox */
  -webkit-animation:myfirst .8s linear infinite; /* Safari and Chrome */
  -o-animation:myfirst .8s linear infinite; /* Opera */
}
@keyframes myfirst {
  0%,100%   {color:red;}
  50% {color:#333;}
}
/* Firefox */
@-moz-keyframes myfirst {
  0%,100%   {color:red;}
  50% {color:#333;}
}
/* Safari and Chrome */
@-webkit-keyframes myfirst {
  0%,100%   {color:red;}
  50% {color:#333;}
}
/* Opera */
@-o-keyframes myfirst {
  0%,100%   {color:red;}
  50% {color:#333;}
}
/******************* Flashy NEWS Robbin End **********************/
/************************ Web Form ***************************/
#web_div {
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: #efefef;
  padding: 20px;
}

#recent_uri_container {
  min-height: 200px;
  margin-top: 1em;
  background-color: white;
}

#recent_add_header {
  color: blue;
}

/*iframe slide up & down*/
.analyze-result {
    /*border-top: 1px solid #999999;*/
    position:fixed;
    /*width: 600px;*/
    z-index: 10000;
    text-align:center;
    height: 100%;
    /*font-size:18px;*/
    /*color: #000;*/
    background: #FFF;
    display: flex;
    justify-content: top; /* align horizontal */
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -100%;
}
.analyze-result-window {
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
    padding-left: 0;
    padding-right: 0;
}
.slide-up {
    bottom: 0px !important;
}
.slide-down {
    bottom: -475px !important;
}
/********************** Web Form End *************************/
/******************* Corner Ribbon **********************/
/*https://css-tricks.com/snippets/css/corner-ribbon/*/
.wrapper {
  background: #ffe6e6;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}​
/******************* Corner Ribbon End **********************/